
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header white-bg">
        <!--<div class="sidebar-toggle-box">
            <i class="fa fa-bars"></i>
        </div>-->
        <!--logo start-->
        <a href="index.html" class="logo">
            <!--   <img src="~/Content/Images/logo-app.png" />ABC<span>Medical</span>-->
            <img src="~/Content/Images/logo-companies/1_1.png" style="width:40px" />
            Salud Mental <span>en Casa</span>
        </a>
        <!--logo end-->
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <!--<img alt="" src="img/avatar1_small.jpg">-->
                        <span class="username">@ViewBag.Username </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <!--<li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>-->
                        <li><a href="/Usuario/ChangePassword"><i class="fa fa-key"></i> Cambiar contraseña</a></li>
                        <li><a href="/Login/Logoff"><i class="fa fa-window-close-o "></i> Cerrar Sesión</a></li>
                    </ul>
                </li>
                <!-- <li class="sb-toggle-right">
                    <i class="fa  fa-align-right"></i>
                </li>
                user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <section id="container">
        <section class="wrapper">
            <div class="row">
                <div class="col-md-2 col-xs-12" id="sidebar">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li class="sub-menu dcjq-parent-li">
                            <a href="~/Home/Index"><i class="fa fa-home"></i> Home</a>
                           
                                <a href="~/Profesional"><i class="fa fa-user-md"></i> Profesionales</a>
                                <a href="~/PuestoAtencion"><i class="fa fa-hospital-o"></i> Puestos de Atención</a>
                                <a href="~/Especialidad"><i class="fa fa-medkit"></i> Especialidades</a>
                                <a href="~/Diagnostico"><i class="fa fa-stethoscope"></i> Diagnósticos</a>
                                <a href="~/Paciente"><i class="fa fa-users"></i> Pacientes</a>
                            <ul class="sidebar-menu">
                                <li class="sub-menu dcjq-parent-li">
                                    <i class="fa fa-book"></i>
                                    <span>Reportes</span>
                                <li class="sub">
                                        <a href="~/AdministracionReportes/PacientesActivos"><i class="fa fa-users"></i> Pacientes Activos </a>
                                        <a href="~/AdministracionReportes/FiltrosHistoriasCreadas"><i class="fa fa-files-o"></i> Historias Creadas</a>
                                  
                                </li>
                        </li>
                    </ul>
                    </li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-10 col-xs-12">
                    <div class="row">
                        @RenderBody()
                    </div>
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Abc Medical</p>
                    </footer>
                </div>

            </div>



        </section>

    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
