<!DOCTYPE html>
<html ng-app="admisiones" ng-cloak>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-i18n/angular-locale_es-co.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
    

    <script src="~/lib/angular-filter/dist/angular-filter.min.js"></script>
    <script src="~/lib/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
    <script src="~/Content/app.js"></script>
    <script src="~/Content/app-run.js"></script>    
    <script src="~/Content/app-route.js"></script>
    <script src="~/Content/app-interceptor.js"></script>
    


    

    <script src="~/Content/factories/tools/fac-memory.js"></script>
    <script src="~/Content/factories/tools/fac-navigation.js"></script>
    <script src="~/Content/factories/tools/fac-regex.js"></script>
    
    
    <script src="~/Content/services/serv-administration.js"></script>
    <script src="~/Content/services/serv-history.js"></script>

    <script src="~/Content/factories/Administration/fac-administration.js"></script>
    <script src="~/Content/factories/History/fac-history.js"></script>

    <script src="~/Content/app/History/History.js"></script>
    <script src="~/Content/app/History/NewRegister.js"></script>

    <script src="~/Content/app/History/Register/CreatePsicologia.js"></script>
    <script src="~/Content/app/History/Register/CreateNota.js"></script>
    <script src="~/Content/app/History/Register/CreateTerapiaOcupacional.js"></script>
    <script src="~/Content/app/History/Register/CreatePsiquiatria.js"></script>
    <script src="~/Content/app/History/Register/CreateTrabajoSocial.js"></script>
    <script src="~/Content/app/History/Register/CreateSeguimientoSaludMental.js"></script>
    <script src="~/Content/app/History/Register/ListRegister.js"></script>

    
    <script src="~/Content/directives/controls/dir-messages.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div  ng-controller="HistoryController as History">
        <form role="form" name="formBuscarPaciente">
            <header class="header white-bg">
                <div class="sidebar-toggle-box">
                    <a href="/Home/Index"><i class="fa fa-home"></i>Home </a>
                </div>
                <!--logo start-->
                <a href="index.html" class="logo">
                    <!--   <img src="~/Content/Images/logo-app.png" />ABC<span>Medical</span>-->
                    <img src="/Content/Images/logo-companies/1_1.png" style="width:40px">
                    Salud Mental <span>en Casa</span>
                </a>
                <div class="nav notify-row">
                    <button class="btn btn-info" ng-click="History.newRegister()" ng-disabled="History.pacienteId==0">Nuevo Registro</button>
                </div>
                <!--logo end-->
                <div class="top-nav ">
                    <!--search & user info start-->
                    <ul class="nav pull-right top-menu">

                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <!-- <img alt="" src="img/avatar1_small.jpg">-->
                                <span class="username">{{History.Username}}</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                               
                            </ul>
                        </li>
                        <li class="sb-toggle-right">
                            <i class="fa  fa-align-right"></i>
                        </li>
                        <!-- user login dropdown end -->
                    </ul>
                    <!--search & user info end-->
                </div>
            </header>

            <section id="container">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <section class="panel panel-primary">
                                        <header class="panel-heading">
                                            <i class="fa fa-folder-open-o"></i>   Abrir Historia
                                        </header>
                                         <input id="hdnUserName" nme="hdnUserName" value=@ViewBag.Username runat="server" type="hidden" />
                                         <input id="hdnUserId" nme="hdnUserId" value=@ViewBag.UserId runat="server" type="hidden" />
                                         <input id="hdnProfesionalId" nme="hdnProfesionalId" value=@ViewBag.ProfesionalId runat="server" type="hidden" />
                                        <div class="panel-body">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Identificación</label>
                                                    <input class="form-control" id="InputIdentificacion" placeholder="Ingrese Identificación" ng-model="History.documentFind">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button  class="btn btn-info" ng-click="History.consultPaciente()">Buscar</button>                                                
                                            </div>
                                            <message-custom type="info" small ng-if="History.Fail"
                                                            message="El paciente buscado no existe.">
                                            </message-custom>

                                        </div>
                                    </section> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12  col-md-12 ">
                                    <section class="panel panel-primary">
                                        <header class="panel-heading">
                                            <i class="fa fa-user"></i>    Datos del Paciente
                                        </header>
                                        <div class="panel-body">
                                            <form role="form">
                                                
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="exampleInputEmail1"><b>{{History.nombreCompleto}}</b></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-3">
                                                            <label for="exampleInputEmail1">Identificación:</label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-3">
                                                            <label for="exampleInputEmail1"><b>{{History.identificacion}}</b></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-3">
                                                            <label for="exampleInputEmail1">Género:</label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-3">
                                                            <label for="exampleInputEmail1"><b>{{History.genero}}</b></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-3">
                                                            <label for="exampleInputEmail1">Edad:</label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-3">
                                                            <label for="exampleInputEmail1"><b>{{History.edad}}</b></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-3">
                                                            <label for="exampleInputEmail1">Teléfonos:</label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-3">
                                                            <label for="exampleInputEmail1"><b>{{History.telefonos}}</b></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-3">
                                                            <label for="exampleInputEmail1">Dirección:</label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-9">
                                                            <label for="exampleInputEmail1"><b>{{History.direccion}}</b></label>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <button ng-disabled="History.pacienteId==0" class="btn btn-info" ng-click="History.openFiles()">Ver Archivos Digitalizados</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                            </form>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <section class="panel panel-primary">
                                        <header class="panel-heading">
                                            <i class="fa fa-clock-o"></i> Historia Clínico
                                        </header>
                                        <div class="panel-body">

                                            <ul class="inbox-nav inbox-divider">
                                                
                                                <li ng-repeat="item in History.ListHistorialRegistros">
                                                    <a ng-click="History.ListRegister(item.RegistroClinicoId)"> <i class="fa fa-file-o"></i> {{item.RegistroClinico}} <span class="label label-info pull-right r-activity">{{item.Cantidad}}</span></a>
                                                </li>
                                                
                                            </ul>


                                        </div>
                                    </section>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                @RenderBody()
                            </div>
                        </div>
                        </div>
                   
                </section>
            </section>
        </form>
    </div>
     
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
