@model Entities.ArchivoDigital.Volumen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDigitalization.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Volumen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrlVolumen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlVolumen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolumenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
