<section class="panel">
    <header class="panel-heading">
        Usuarios
    </header>
    <div class="panel-body" style="padding-bottom:40px;">
        @model Entities.Seguridad.Usuario
        @{
            ViewBag.Title = "Edit";
            Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
        }
        <h3>Reasignar Clave</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <h4>Clave temporal para usuario: @Html.DisplayFor(model => model.Login)</h4>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UsuarioId)


                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-5 col-xs-12">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-warning" })
                    </div>

                </div>
            </div>
        }

    </div>
    
</section>
