@model Entities.Administracion.Profesional

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdministration.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Profesional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyClient.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyClient.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidad.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoIdentificacion.Abreviatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoIdentificacion.Abreviatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoFijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoFijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al listado", "Index")
        </div>
    }
</div>
