<section class="panel">
    <header class="panel-heading">
        Permisos
    </header>
    <div class="panel-body" style="padding-bottom:40px;">

        @model Entities.Seguridad.Opciones
        @{
            ViewBag.Title = "Permisos";
            Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
        }
        <h4>Permisos del Perfil</h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PerfilId)
            <div class="container">

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Administración</a></li>
                    <li><a data-toggle="tab" href="#menu1">Historia Clínica</a></li>
                    <li><a data-toggle="tab" href="#menu2">Seguridad</a></li>
                    <li><a data-toggle="tab" href="#menu3">Digitalización</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Profesionales, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Profesionales)
                                        @Html.ValidationMessageFor(model => model.Profesionales, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PuestosAtencion, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.PuestosAtencion)
                                        @Html.ValidationMessageFor(model => model.PuestosAtencion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Especialidades, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Especialidades)
                                        @Html.ValidationMessageFor(model => model.Especialidades, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Diagnosticos, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Diagnosticos)
                                        @Html.ValidationMessageFor(model => model.Diagnosticos, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Pacientes, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Pacientes)
                                        @Html.ValidationMessageFor(model => model.Pacientes, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PacientesActivos, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.PacientesActivos)
                                        @Html.ValidationMessageFor(model => model.PacientesActivos, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.HistoriasCreadas, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.HistoriasCreadas)
                                        @Html.ValidationMessageFor(model => model.HistoriasCreadas, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <h3>Menu 3</h3>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</section>